@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Martel+Sans:wght@600&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a: 0
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;

}

.left {
    width: 25vw;
    padding: 10px;

}

.home .searchin li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    font-weight: bold;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;

}

.heading {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 12px;
}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    /* transform: translateY(300px); */
}

.footer a {
    color: gray;
}

.library {
    min-height: 80vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #343434;
}

.header>* {
    padding: 20px;
}

.spotifyplaylist {
    padding: 16px;
}

.spotifyplaylist h3 {
    padding: 16px;
}

.cardcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 70vh;
    overflow-y: auto;

}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    height: 285px;
    position: relative;
    transition: all .9s;
}
.card:hover{
    background-color: rgb(72, 72, 72);
    cursor: pointer;
    --a:1;
}
.card>* {
    padding: 5px;
}

.card img {
    width: 95%;
    object-fit: contain;
}

p {
    font-size: 13px;
}

.play {
    position: absolute;
    top: 160px;
    right: 23px;
    background-color: #1fdf64;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    opacity: var(--a);
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: #343434;
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    font-size: 16px;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.loginbtn:hover {
    
    font-weight: bold;
transform: scale(1.1);
}

.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 70vw;
    padding: 12px;
    min-height: 30px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;


}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    cursor: pointer;

    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 4px 0;
    border-radius: 5px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;

}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playnow span {
    font-size: 11px;
    width: 50px;
    padding: 9px;

}

.songlist ul li img {
    width: 18px;
    height: 18px;
    padding: 13px 2px;


}

.songlist ul li .songname {
    width: 60px;
    /* font-weight: bold; */
    padding: 5px 0;
    padding-right: 90px;
}

.songlist ul li .songartist {
    font-size: 8px;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 150px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.circle {
    width: 11px;
    height: 11px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;

}

.songinfo,
.songtime {
    color: black;
    font-size: 13px;
    padding: 0 12px;
}

.hamburger {
    display: none;
}

.close {
    display: none;
}
.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
   
  
}
.range{
    opacity: var(--a);
    transition: all 1s ease;
    
}
.range input{
    cursor: pointer;
     overflow: hidden;
}
.volume:hover{
--a:1
}





/* when active */




@media screen and (max-width: 1300px) {
    .left {

        padding: 0;
        position: absolute;
        left: -120%;
        z-index: 1;
        transition: all .3s;
        width: 350px;
        transition: all 1s ease;
    }

    .left .close {
        display: inline;
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        cursor: pointer;
 transition: all 0.5s ease;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .hamburger {
        display: inline;
        cursor: pointer;
    }

    .hamburger:hover {
        background-color: #787575;
    }

    .cardcontainer {
        margin: 0;
        justify-content: center;
    }

    .card {
        min-width: 300px;
        min-height: 385px;
    }

    .card p {
        font-size: 17px;
    }

    .play {
        top: 250px;
        right: 33px;
    }

}